/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    transition: background-color 0.5s, color 0.5s;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: #fff;
}

#logo {
    text-align: center;
}

#logo img {
    max-width: 200px;
    max-height: 100px;
}

#navigation {
    text-align: center;
    margin-top: 20px;
}

#navigation a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.theme-switch-button {
    background-color: transparent;
}

.sun-icon,
.moon-icon {
    background-color: transparent;
}

.dark-mode body {
    background-color: #0e0370;
    color: #ecf0f1;
}

.dark-mode table {
    border: 1px solid #546e7a;
    color: #b0bec5;
}

.dark-mode th {
    background-color: #263238;
    color: #b0bec5;
}

.dark-mode td {
    border: 1px solid #b0bec5;
}

.dark-mode #navigation a {
    background-color: #ffffff;
    color: #263238;
}

.dark-mode #logo {
    border: none;
}

.dark-mode {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #263238;
}

.dark-mode .titulo {
    color: #b0bec5;
}

.theme-switch-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.moon-icon,
.sun-icon {
    font-size: 24px;
}

.moon-icon {
    color: white !important;
}

.sun-icon {
    color: black !important;
}